<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
        <style></style>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('home') }}">Link to home page</a>
            <a href="{{ url_for('about') }}">Link to about page</a>
            <a href="{{ url_for('products') }}">Link to products page</a>
            <a href="{{ url_for('contact') }}">Link to contact page</a>
        </nav>
        <h1>Home Page</h1>
        <h1>Products Page</h1>
        <p class="big-red">Some text</p>
        <p>Some text</p>
        <p>Some text</p>
        <p>Some text</p>
    </body>
</html>
